.myfirstdiv {
  background-image: url(../Loan/img/pexels-steve-26756127.jpg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.lists.button,
ul,
li,
h2 {
  display: inline-block;
  list-style: none;
  justify-content: space-between;
  color: white;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 {
  padding-left: 50px;
}
.lists.button,
ul,
li {
  float: right;
  display: flex;
  padding-right: 50px;
}

.thefirstparagraph {
  color: white;
  padding-top: 50px;
  font-size: 30px;
  padding-left: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.firstlog {
  background-color: rgba(255, 94, 0, 0.973);
  border-radius: 5px;
  border-style: none;
  color: white;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
}

.thesecondparagraph {
  margin-top: 50px;
  color: white;
  font-size: 15px;
  padding-left: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.secondlog {
  background-color: rgba(255, 94, 0, 0.973);
  border-radius: 5px;
  border-style: none;
  color: white;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
}

.logs,
h3 {
  padding-left: 50px;
}
.secondlog,
h3 {
  display: inline-block;
  color: white;
}

.sidebar,
img {
  float: right;
  width: 30px;
  height: 50px;
  padding-bottom: 20px;
}

.mysecondiv {
  background-image: url(../Loan/img/pexels-karolina-grabowska-4590785.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.containt,
h1 {
  text-align: center;
  color: darkgreen;
  font-size: 40px;
  margin: 0px;
}
.mydiv,
img {
  width: 150px;
  height: 100px;
  padding-right: 240px;
}

.LoanApplication {
  font-size: 10px;
  color: darkgreen;
}
.info {
  font-size: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* .icon2,fas fa-cloud,Loan Application,info{
   display: inline-block;
}

.icon3,fas fa-cloud,Loan Application,info{
   display: inline-block;
}


.icon1.icon2.icon3{
display: flex;
}



 */
